@font-face {
    font-family: Rubik;
    src: url(Rubik/Rubik-Light.ttf);
}
@font-face {
    font-family: Proza;
    src: url(Proza_Libre/ProzaLibre-Regular.ttf);
}
@font-face {
    font-family: Quicksand;
    src: url(Quicksand/Quicksand-Regular.ttf);
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
  background: #274253;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
 *      Header Title
 */
#header .title
{
  font-family: 'Quicksand', sans-serif;
  color: #FFF;
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  padding: 1em;
  margin: 0 auto;
  top: 0;
  z-index: 10;
}

#header .title h1
{
  font-size: 2rem;
}

#header .title h1 small
{
  font-size: 0.3em;
}

#header .title p
{
  padding: 0.5em;
}


/*
 *      Header Slideshow
 */
.slideshow {
  width: 100%;
  color: #fff;
}

.slideshow li{
  position: absolute;
  width: 100%;
  height: 110px;
  background-position: center center;
  background-repeat: no-repeat;
  overflow: hidden;
  opacity: 0;
}

.slideshow li img{
  position: absolute;
  width: 100%;
  top: -60%;
  animation: xmove 6s 0s infinite alternate;
}

.slideshow li:nth-child(1){
  animation: xfade 24s 18s infinite;
}

.slideshow li:nth-child(2){
  animation: xfade 24s 12s infinite;
}

.slideshow li:nth-child(3){
  animation: xfade 24s 6s infinite;
}

.slideshow li:nth-child(4){
  animation: xfade 24s 0s infinite;
}

/*
 *    Content
 */
#content {
  position: relative;
  display: block;
  top: 150px;
  padding: 20px;
}

.loader {
  margin: 0 auto;
   border: 10px solid #f3f3f3; /* Light grey */
   border-top: 10px solid #3498db; /* Blue */
   border-radius: 50%;
   width: 80px;
   height: 80px;
   animation: spin 1.2s linear infinite;
}

/*
 *    Index Page
 */

.index ul > li
{

}


@keyframes xfade{
   0%{
      opacity: 0;
   }
   12%{
     opacity: 1;
   }
   25%{
    opacity: 1;
   }
   37%{
     opacity: 1;
   }
   50%{
     opacity: 0;
   }
   75%{
     opacity: 0;
   }
   100% {
      opacity: 0;
   }
}

@keyframes xmove{
   0%{
      top: -60%;
   }
   100% {
      top: -80%;
   }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@media (min-width: 1024px) {

}

@media (min-width: 768px) {

}

@media (min-width: 480px) {

}

@media (min-width: 480px) {

}


/* Portrait */
@media screen and (orientation:portrait) { /* Portrait styles here */ }
/* Landscape */
@media screen and (orientation:landscape) { /* Landscape styles here */ }
